
<form [formGroup]='registerForm' (ngSubmit)="register()" autocomplete="off">
  <h2 class="text-center text-primary">Sign up</h2>
  <hr>

  <div class="form-group">
    <label style="margin-right: 10px;" class="control-label">I am a:</label>
    <label for="" class="radio-inline">
      <input type="radio" value="male" formControlName="gender"> Male
    </label>
    <label for="" class="radio-inline">
      <input class="ml-3" type="radio" value="female" formControlName="gender"> Female
    </label>
  </div>

  <app-text-input formControlName="username" label="Username" ></app-text-input>
  <app-text-input formControlName="knownAs" label="Known As" ></app-text-input>

  <!-- 1. rewrite the date input (the maxDate is after point 2) and test in the browser -->
  <!-- <app-text-input formControlName="dateOfBirth" label="Date Of Birth" type="date" ></app-text-input> -->
  <app-date-input formControlName="dateOfBirth" label="Date Of Birth" [maxDate]="maxDate"></app-date-input>
  <!-- 2. we want the site to be over 18 only, go to the ts file  -->

  <app-text-input formControlName="city" label="City" ></app-text-input>
  <app-text-input formControlName="country" label="Country" ></app-text-input>
  <app-text-input formControlName="password" label="Password" type="password" ></app-text-input>
  <app-text-input formControlName="confirmPassword" label="Confirm Password" type="password"></app-text-input>



  <div class="form-group text-center">
    <button class="btn btn-success mr-2" type="submit">Register</button>
    <button class="btn btn-default mr-2" (click)="cancel()" type="button">Cancel</button>
  </div>
</form>

<p>Form value: {{registerForm.value | json}}</p>
<p>Form status: {{registerForm.status | json}}</p>

