
<form [formGroup]='registerForm' (ngSubmit)="register()" autocomplete="off">
  <h2 class="text-center text-primary">Sign up</h2>
  <hr>

  <!-- 1. use app-text-input: -->
  <app-text-input formControlName="username" label="Username" ></app-text-input>
  <app-text-input formControlName="password" label="Password" type="password" ></app-text-input>
  <app-text-input formControlName="confirmPassword" label="Confirm Password" type="password"></app-text-input>
  <!-- 2. cool, right? we can also pass the form control like this: -->
  <!-- <app-text-input [formControl]="$any(registerForm.controls['username'])" [label]="'Username'" ></app-text-input> -->
  <!-- 3. when using attribute binding, using [] will tell angular that the value come from expression, without [] is a string -->
  <!-- 8. test in the browser and back to readme.md-->


  <div class="form-group text-center">
    <button class="btn btn-success mr-2" type="submit">Register</button>
    <button class="btn btn-default mr-2" (click)="cancel()" type="button">Cancel</button>
  </div>
</form>

<p>Form value: {{registerForm.value | json}}</p>
<p>Form status: {{registerForm.status | json}}</p>

