<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th style="width:30%">Username</th>
        <th style="width:40%">Active roles</th>
        <th style="width:30%"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user?.username}}</td>
        <td>{{user?.roles}}</td>
        <td>
          <!--1. on click invoke openRolesModal, passing  $any to shut TS up  -->
          <button class="btn btn-info" (click)="openRolesModal($any(user))">Edit Roles</button>
          <!-- 2.   -->
        </td>
      </tr>
    </tbody>
  </table>
</div>
