<div class="row mb-4">
  <div class="btn-group" name="container">
    <button class="btn btn-primary" btnRadio="Unread" [(ngModel)]="container" (click)="loadMessages()">
      <i class="fa fa-envelope"></i> Unread
    </button>
    <button class="btn btn-primary" btnRadio="Inbox" [(ngModel)]="container" (click)="loadMessages()">
      <i class="fa fa-envelope-open"></i> Inbox
    </button>
    <button class="btn btn-primary" btnRadio="Outbox" [(ngModel)]="container" (click)="loadMessages()">
      <i class="fa fa-paper-plane"></i> Outbox
    </button>
  </div>
</div>

<div class="row" [ngSwitch]="messages.length">
  <h3 *ngSwitchCase="0">No messages</h3>
  <table *ngSwitchDefault class="table table-hover" style="cursor: pointer;" >
    <thead>
      <tr>
        <th style="width: 40%;">Messages</th>
        <th style="width: 20%;">From / To</th>
        <th style="width: 20%;">Sent / Received</th>
        <th style="width: 20%;"></th>
      </tr>
    </thead>
    <tbody>
      <!--4. hide the list when 'loading' is true (angular gives almost all element the [hidden] attribute)-->
      <tr [hidden]="loading" *ngFor="let message of messages"
       [queryParams]="{tab:3}"
        [routerLink]="'/members/' + (container === 'Outbox' ? message.recipientUsername : message.senderUsername)">

        <td>{{message.content}}</td>
        <td>
          <!-- 1. fix the way I use ngSwitch, add [] around ngSwitch-->
          <ng-container [ngSwitch]="container">
          <!-- 2. now test in the browser to see the right images based on container
                * wait... we have a flickering issue:
                * when switching between 'container' values the images change to the [login]'s image before loading all the data
                * why do you think that is?
                * well? when we go and fetch the data, the 'container' variable already changed,
                  * - resulting in different image (and name) based on ngSwitch  -->
          <!-- 3. how will we fix this?
                * ideas?
                * we can create a 'loading' variable.
                * - and conditionally display the table (and pagination based on that variable)
                * the variable will change when we go and receive the data
                * go to the ts, point 3-->
            <div *ngSwitchCase="'Outbox'">
              <img
                class="img-circle rounded-circle mr-2"
                src="{{message.recipientPhotoUrl || './assets/user.png'}}"
                alt="{{message.recipientUsername}}">
              <strong>{{message.recipientUsername | titlecase}}</strong>
            </div>
            <div *ngSwitchDefault>
              <img
                class="img-circle rounded-circle mr-2"
                src="{{message.senderPhotoUrl || './assets/user.png'}}"
                alt="{{message.senderUsername}}">
              <strong>{{message.senderUsername | titlecase}}</strong>
            </div>
          </ng-container>
        </td>
        <td>{{message.messageSent | timeago}}</td>
        <td>
          <button class="btn btn-danger">Danger</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- 5. add 'loading' to the condition  -->
<div  class="d-flex justify-content-center" *ngIf="pagination && !loading">
<!-- 6. back to README.md -->
  <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage"
    [(ngModel)]="pagination.currentPage" (pageChanged)="pageChanged($event)" previousText="&lsaquo;"
    nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
  </pagination>
</div>




