<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Dating App</a>


    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Matches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Lists</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#">Messages</a>
      </li>
    </ul>
    <!--1. telling this form it's an angular form -->
    <!--#: template reference  -->
    <!-- angular form provides us with ngSubmit method (invokes when button with type=submit (or enter) is pressed) -->
    <form class="form-inline mt-2 mt-md-0" #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">
      <!-- 2. adding 2 way binding: name property binding in the loginForm, the "banana in a box" the binding with a property in the model-->
      <input name="username" [(ngModel)]="model.username" class="form-control mr-sm-2" type="text" placeholder="Username">
      <input name="password" [(ngModel)]="model.password" class="form-control mr-sm-2" type="password" placeholder="Password">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
      <!-- 3. in reality, in this case, you don't really need the 2 way binding, you can pass the loginForm as parameter to the login method: (ngSubmit)="login(loginForm)"  -->
      <!-- 4. try 3, and try the 2 way binding with an updated label -->
    </form>
  </div>
</nav>
