<div class="row" *ngIf="member">
  <div class="col-4">
    <div class="card">
      <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}" class="card-img-top img-thumbnail">

      <div class="card-body">
        <div>
          <strong>Location:</strong>
          <p>{{member.city}}, {{member.country}}</p>
        </div>
        <div>
          <strong>Age:</strong>
          <p>{{member.age}}</p>
        </div>
        <div>
          <strong>Last Active:</strong>
          <!-- 7. use time ego here, you can add parameters if you want, look at the documentation -->
          <p>{{member.lastActive | timeago}}</p>
          <!-- 8. add the pipes also in member-edit.component.html, go there -->
        </div>
        <div>
          <strong>Member since:</strong>
          <!-- 1. just add a pipe, test in browser-->
          <!-- 2. add params to pipe,longDate will putt full month in the date , test in browser-->
          <p>{{member.created | date : 'longDate'}}</p>
          <!-- 3. can see other default dates: https://angular.io/api/common/DatePipe-->
          <!-- 4. we can have our custom date view: 'dd MMM yyyy'-->
          <!-- 5. to calculate a time ego, we'll use a package: ngx-timeago,
                so: follow the dec: 1.install, 2.add module, 3.use -->
          <!-- 6. go to shared.module.ts -->

        </div>

      </div>
      <div class="card-footer">
        <div class="btn-group d-flex">
          <button class="btn btn-primary">Like</button>
          <button class="btn btn-success">Message</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-8">
<tabset class="member-tabset">
   <tab heading="About {{member.knownAs}}" >
    <h4>Description</h4>
    <p>{{member.introduction}}</p>
    <h4>Looking for</h4>
    <p>{{member.lookingFor}}</p>
   </tab>
   <tab heading="Interests" >
    <h4>Interests</h4>
    <p>{{member.interests}}</p>

   </tab>
   <tab heading="Photos" >
    <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
  </tab>
  <tab heading="Messages" >
     <p>Messages will go here</p>
   </tab>
</tabset>
  </div>
</div>
