<!-- 3. remove the condition -->
<!-- <div class="row" *ngIf="member"> -->
<div class="row">
  <!-- 4. now test if works
     well it worked.. kinda.. we get a lot of different other errors when just entering (or refreshing) the page.
     * this is because we try to render different things related to 'member' property... witch is populated later.
     * so we can add conditional chaining everywhere (?), but then things will start popping up, not a good UX.
     * better option: have our 'member' data available to us BEFORE the component start constructing.
     * how? using route resolvers.
     * back to README.md
  -->
  <div class="col-4">
    <div class="card">
      <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}" class="card-img-top img-thumbnail">

      <div class="card-body">
        <div>
          <strong>Location:</strong>
          <p>{{member.city}}, {{member.country}}</p>
        </div>
        <div>
          <strong>Age:</strong>
          <p>{{member.age}}</p>
        </div>
        <div>
          <strong>Last Active:</strong>
          <p>{{member.lastActive | timeago}}</p>
        </div>
        <div>
          <strong>Member since:</strong>
          <p>{{member.created | date : 'longDate'}}</p>


        </div>

      </div>
      <div class="card-footer">
        <div class="btn-group d-flex">
          <button class="btn btn-primary">Like</button>
          <!-- 1. add a click event, messages is the 3rd (0 based array) -->
          <button class="btn btn-success" (click)="selectTab(3)">Message</button>
          <!-- 2. back to README.md -->
        </div>
      </div>
    </div>
  </div>
  <div class="col-8">
<tabset class="member-tabset" #memberTabs>
   <tab heading="About {{member.knownAs}}" (selectTab)="onTabActivated($event)">
    <h4>Description</h4>
    <p>{{member.introduction}}</p>
    <h4>Looking for</h4>
    <p>{{member.lookingFor}}</p>
   </tab>
   <tab heading="Interests" (selectTab)="onTabActivated($event)">
    <h4>Interests</h4>
    <p>{{member.interests}}</p>

   </tab>
   <tab heading="Photos" (selectTab)="onTabActivated($event)">
    <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
  </tab>
  <tab heading="Messages" (selectTab)="onTabActivated($event)">
   <app-member-messages [username]="member.username" [messages]="messages"></app-member-messages>
   </tab>
</tabset>
  </div>
</div>
