<div class="row" *ngIf="member">
  <div class="col-4">
    <div class="card">
      <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}" class="card-img-top img-thumbnail">

      <div class="card-body">
        <div>
          <strong>Location:</strong>
          <p>{{member.city}}, {{member.country}}</p>
        </div>
        <div>
          <strong>Age:</strong>
          <p>{{member.age}}</p>
        </div>
        <div>
          <strong>Last Active:</strong>
          <p>{{member.lastActive | timeago}}</p>
        </div>
        <div>
          <strong>Member since:</strong>
          <p>{{member.created | date : 'longDate'}}</p>


        </div>

      </div>
      <div class="card-footer">
        <div class="btn-group d-flex">
          <button class="btn btn-primary">Like</button>
          <button class="btn btn-success">Message</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-8">
    <!-- 1. ok so I want to know when the Messages tab (last one been clicked)
          * for that I need to hold the tabset a property inside my component
          * for that I need to somehow "select" it
          * we do that we use using template reference variable (the # sign)
          * we'll add a template reference variable to the tabset
          * we'll call it memberTabs  -->
<tabset class="member-tabset" #memberTabs>
    <!-- 2. go to the ts -->
    <!-- 4. invoke the onTabActivated on selecting each tab (can check the doc: https://valor-software.com/ngx-bootstrap/#/components/tabs?tab=api) -->
   <tab heading="About {{member.knownAs}}" (selectTab)="onTabActivated($event)">
    <h4>Description</h4>
    <p>{{member.introduction}}</p>
    <h4>Looking for</h4>
    <p>{{member.lookingFor}}</p>
   </tab>
   <!-- 5. invoke the onTabActivated on selecting each tab -->
   <tab heading="Interests" (selectTab)="onTabActivated($event)">
    <h4>Interests</h4>
    <p>{{member.interests}}</p>

   </tab>
   <!-- 6. invoke the onTabActivated on selecting each tab -->
   <tab heading="Photos" (selectTab)="onTabActivated($event)">
    <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
  </tab>
   <!-- 7. invoke the onTabActivated on selecting each tab -->
  <tab heading="Messages" (selectTab)="onTabActivated($event)">
    <!-- 8. back to README.md -->
    <!-- 3. pass messages -->
    <!-- <app-member-messages [username]="member.username"></app-member-messages> -->
   <app-member-messages [username]="member.username" [messages]="messages"></app-member-messages>
   </tab>
</tabset>
  </div>
</div>
