<div class="card">
  <div class="card-body">
    <ng-container *ngIf="(messageService.messageThread$ | async)?.length; else noMessages">
      <!-- 1. we'll focus on the main part, the unordered list.
            * we want to let angular to control the scrolling to this list
            * we'll add a template reference, some style and a property for the scrollTop (how mush the element need to be scrolled down)
            * -->
      <ul
        class="chat"

        comment="this is the main part of the chat"
        #scrollMe
        style="overflow-y: scroll; height: 500px;"
        [scrollTop]="scrollMe.scrollHeight"

        >
        <!--2. now we can see this may work, but if we look at the console, we'll se an error:
            ExpressionChangedAfterItHasBeenCheckedError: Expression has changed after it was checked.
            * this is a very know error in angular, it does not happen in production compilation, only in simple one.
            * and we need to understand why it happens
            * https://angular.io/errors/NG0100

            * after understanding the error, we can fix it easily.
            * go to the ts
        -->

         <li *ngFor="let message of messageService.messageThread$ | async ">
          <div>
            <span class="chat-img float-right">
              <img class="rounded-circle" [src]="message.senderPhotoUrl || './assets/user.png'"
                [alt]="message.senderUsername">
            </span>
            <div class="chat-body">
              <div class="header">
                <small class="text-muted">
                  <span class="fa fa-clock-o">
                    {{message.messageSent | timeago}}
                  </span>
                  <span class="text-danger" *ngIf="!message.dateRead && message.senderUsername !== username">
                    (unread)
                  </span>
                  <span class="text-success" *ngIf="message.dateRead && message.senderUsername !== username">
                    (read {{message.dateRead | timeago}})
                  </span>
                </small>
              </div>
              <p>{{message.content}}</p>
            </div>
          </div>
        </li>
      </ul>
    </ng-container>
    <ng-template #noMessages>
      No Messages Yet... say hi by using the message box below
    </ng-template>


  </div>
  <div class="card-footer">
    <form #messageForm="ngForm" (ngSubmit)="sendMessage(messageForm)" autocomplete="off">
      <div class="input-group">
        <input
        name="messageContent"
        required
        [(ngModel)]="messageContent"
        type="text"
         placeholder="Send a private message"
         class="form-control input-sm">
        <div class="input-group-append">
          <button [disabled]="!messageForm.valid" class="btn btn-primary" type="submit">Send</button>
        </div>
      </div>
    </form>
  </div>
</div>
