<div class="row" *ngIf="member">
  <div class="col-4">
    <h1>Your profile</h1>
  </div>
  <div class="col-8">
    <!-- 6.
      * once we created a element reference, it's available all over the template.
      * display the alert only if the form is dirty, that id dirty? changed.
      * there is another property in the form called "touched", what do you think the difference is?
      * there is another property in the form called "pristine", what do you think that is?
      * so you can figure out yourself, if there is a property called 'touched'
     -->
    <div class="alert alert-info" *ngIf="editForm.dirty">
      <!-- 5. no need for the p tag -->
      <strong>Information</strong>
        You have made changes. any unsaved changes will be lost

    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}" class="card-img-top img-thumbnail">

      <div class="card-body">
        <div>
          <strong>Location:</strong>
          <p>{{member.city}}, {{member.country}}</p>
        </div>
        <div>
          <strong>Age:</strong>
          <p>{{member.age}}</p>
        </div>
        <div>
          <strong>Last Active:</strong>
          <p>{{member.lastActive}}</p>
        </div>
        <div>
          <strong>Member since:</strong>
          <p>{{member.created}}</p>
        </div>

      </div>
      <div class="card-footer">
        <!--4. tell the button it's related to a form, test it in the browser -->
        <!-- 7. disable the form if it's not dirty-->
        <button [disabled]="editForm.pristine" type="submit" form="editForm" class="btn btn-success btn-block">Save Changes</button>
        <!-- 8. after we submitting we don't want to display the alert above so we need to reset the fom state. go to the ts file to implement this -->
      </div>
    </div>
  </div>
  <div class="col-8">
    <tabset class="member-tabset">
      <tab heading="About {{member.knownAs}}">
        <!-- 1. make this an angular form (no eed for the id yet - it's at point 3.)-->
        <form #editForm="ngForm" (ngSubmit)="updateMember()" id="editForm" >
          <!-- 2. go to the ts file to create the update member method -->
          <!-- 3. after 2, how the 'Save Changes' button could know how to submit the button? -->
          <!-- solution:  add id to the form-->
          <h4>Description</h4>
          <textarea [(ngModel)]="member.introduction" name="introduction" class="form-control" rows="6"></textarea>
          <h4 class="mt-2">Looking for</h4>
          <textarea [(ngModel)]="member.lookingFor" name="lookingFor" class="form-control" rows="6"></textarea>
          <h4 class="mt-2">interests</h4>
          <textarea [(ngModel)]="member.interests" name="interests" class="form-control" rows="6"></textarea>
          <h4 class="mt-2">Location Details</h4>
          <div class="form-inline">
            <label for="City">City:</label>
            <input [(ngModel)]="member.city" type="text" name="city" class="form-control mx-2">
            <label for="City">Country:</label>
            <input [(ngModel)]="member.country" type="text" name="country" class="form-control mx-2">

          </div>
        </form>
      </tab>
      <tab heading="Edit Photos">
        Photo edit will go here
      </tab>
    </tabset>
  </div>
</div>
