<div class="row" *ngIf="member">
  <!-- 1. add this -->
  <div class="col-4">
    <h1>Your profile</h1>
  </div>
  <!-- 2. add this-->
  <div class="col-8">
    <!-- 3. give the user notification tha some changed was made -->
    <div class="alert alert-info">
      <p><strong>Information</strong>
        You have made changes. any unsaved changes will be lost
      </p>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}" class="card-img-top img-thumbnail">

      <div class="card-body">
        <div>
          <strong>Location:</strong>
          <p>{{member.city}}, {{member.country}}</p>
        </div>
        <div>
          <strong>Age:</strong>
          <p>{{member.age}}</p>
        </div>
        <div>
          <strong>Last Active:</strong>
          <p>{{member.lastActive}}</p>
        </div>
        <div>
          <strong>Member since:</strong>
          <p>{{member.created}}</p>
        </div>

      </div>
      <div class="card-footer">
        <!-- 4. no need for all the buttons -->
        <!-- <div class="btn-group d-flex"> -->
        <!-- <button class="btn btn-primary">Like</button> -->
        <!-- <button class="btn btn-success">Message</button> -->
        <button class="btn btn-success btn-block">Save Changes</button>
        <!-- </div> -->
      </div>
    </div>
  </div>
  <div class="col-8">
    <tabset class="member-tabset">
      <tab heading="About {{member.knownAs}}">

        <!-- 6. text areas in a  -->
        <form>
          <h4>Description</h4>
          <textarea [(ngModel)]="member.introduction" name="introduction" class="form-control" rows="6"></textarea>
          <!-- <p>{{member.introduction}}</p> -->
          <h4 class="mt-2">Looking for</h4>
          <textarea [(ngModel)]="member.lookingFor" name="lookingFor" class="form-control" rows="6"></textarea>
          <!-- <p>{{member.lookingFor}}</p> -->
          <h4 class="mt-2">interests</h4>
          <textarea [(ngModel)]="member.interests" name="interests" class="form-control" rows="6"></textarea>
          <h4 class="mt-2">Location Details</h4>
          <div class="form-inline">
            <label for="City">City:</label>
            <input [(ngModel)]="member.city" type="text" name="city" class="form-control mx-2">
            <label for="City">Country:</label>
            <input [(ngModel)]="member.country" type="text" name="country" class="form-control mx-2">

          </div>
        </form>
      </tab>
      <!-- 7. no need for these tabs -->
      <!-- <tab heading="Interests">
        <h4>Interests</h4>
        <p>{{member.interests}}</p>

      </tab>
      <tab heading="Photos">
        <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
      </tab>
      <tab heading="Messages">
        <p>Messages will go here</p>
      </tab> -->
      <!-- 8. create other tab as a place holder for future feature-->
      <tab heading="Edit Photos">
        Photo edit will go here
      </tab>
    </tabset>
  </div>
</div>
